h1 {
    color: darkblue;
    text-align: center;
}

p {
    font-size: 18px;
    color: #333;
}

a {
    color: green;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: red;
    text-decoration: underline;
}